
<div class="container m-5">
  <div class="card">

    <div class="card-header">
      <h2>Listado de Personas</h2>
    </div>

    <div class="card-body">
      <table class="table table-striped w-100">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">TELEFONO</th>
            <th scope="col">ACCIONES</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let persona of personas">
            <td>{{persona.id}}</td>
            <td>{{persona.nombre}}</td>
            <td>{{persona.telefono}}</td>
            <td>
              <button (click)="Editar(persona)" class="btn btn-warning">Editar</button>
              <button (click)="Eliminar(persona)" class="btn btn-danger ms-5">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>